/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16 Apr, 2017, 12:24:42 PM
    Author     : gopan
*/

.button {
    -fx-background-color: transparent;
}

#openFile {
    -fx-background-image: url("../images/open.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 20 20;
    -fx-background-position: center;
}

#playButton {
    -fx-background-image: url("../images/play.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 20 20;
    -fx-background-position: center;
}

#pauseButton {
    -fx-background-image: url("../images/pause.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 20 20;
    -fx-background-position: center;
}

#stopButton {
    -fx-background-image: url("../images/stop.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 20 20;
    -fx-background-position: center;
}
#stopButton {
    -fx-background-image: url("../images/stop.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 20 20;
    -fx-background-position: center;
}
#loopButton {
    -fx-background-image: url("../images/loop.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 20 20;
    -fx-background-position: center;
}